<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main page menu</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="internationalization.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
#button{
	background-color:#F3B73F;
	border-color:#b07c12; 
	border-width:2px;
	font-weight: bold
}
#thead{
	background-color:#c98e14;
	color:white; 
	border-color:#b07c12; 
	border-width:4px;
	text-align:center;
}

#th {
	background-color:#FBB119; 
	border-width:3px;	
	color:white; 
	border-color:#b07c12
}
body {
	display:flex;
	flex-direction:column;
	min-height: 100vh;
}
footer{
	margin-top:auto;
}

a {
	text-decoration: none;
	color: #f9f7f2;
}

a:hover {
	text-decoration: none;
	color: black;
}
#Bigtext {
	font-weight: bold;
}
#locales {
  border-width:3px;
  border-radius: 3px;
  color: #f9f7f2;
  border-color: #939c99;
  background-color: #798795;
}

img {
    max-width: 100%;
    height: auto;
}

#fontsize {
	font-size:20px;
}
</style>
</head>
<body style="background-color:#F3B73F">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark d-flex justify-content-between allign-center">
  		<ul class="navbar-nav">	
		  	<li class="nav-item"><a id="fontsize" class="nav-link" th:href="@{/menu}" th:text="#{home}"></a></li>
		    <li class="nav-item" sec:authorize="isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/moviepost}" th:text="#{add_movie}"></a></li>
		    <li class="nav-item"><a id="fontsize" class="nav-link" th:href="@{/movielist}" th:text="#{movie_list}"></a></li>
		    <li class="nav-item" sec:authorize="isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/theaterpost}" th:text="#{add_theater}"></a></li>
		    <li class="nav-item"><a id="fontsize" class="nav-link" th:href="@{/theaterlist}" th:text="#{theater_list}"></a></li>
		    <li class="nav-item"><a id="fontsize" class="nav-link" th:href="@{/contacts}" th:text="#{contact_us}"></a></li>
		    <li class="nav-item" sec:authorize="isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/profile}" th:text="#{profile}"></a></li>
  		</ul>
		<ul class="navbar-nav">
			<li style="color:white; font-size:35px"><img width="70px" th:src="@{/images/movie_logo.png}">Online Movies</li>
		</ul>
		<ul class="navbar-nav">
		    <li class="nav-item" sec:authorize="!isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/login}" th:text="#{login}"></a></li>
		    <li class="nav-item" sec:authorize="!isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/registration}" th:text="#{register}"></a></li>
		    <li class="nav-item" sec:authorize="isAuthenticated()"><a id="fontsize" class="nav-link" th:href="@{/logout}" th:text="#{log_out}"></a></li>
		</ul>
	</nav>

<br>
<br>
	<div class="container-sm" style="margin-left:40px;margin-right:40px">
		<div class="text-center" style="color:white">
			<h1 th:text="#{movie_list}"></h1>
		</div>
		<br>

		<table class="table table-striped table-bordered" style="border-width:4px;border-color:#b07c12">
			<thead class="table-dark table-bordered" >
				<tr >
					<th th:text="#{theater_list}" id="thead"></th>
					<th th:text="#{film_title}" id="thead"></th>
					<th th:text="#{film_description}" id="thead"></th>
					<th th:text="#{film_length}" id="thead"></th>
					<th th:text="#{film_rating}" id="thead"></th>
					<th th:text="#{film_language}" id="thead"></th>
					<th th:text="#{film_director}" id="thead"></th>
					<th sec:authorize="isAuthenticated()" th:text="#{edit}" id="thead"></th>
									
				</tr>
			</thead>

			<tbody>
				<tr th:each="movie: ${movies}">
					<td id="th"> 
						<div th:each="theater: ${movie.theaters}" >
							<p th:text="${theater.pavadinimas}"></p>
						</div>
					</td>
					<td style="font-weight: bold" id="th"><a th:href="@{/read/movie/{id}(id=${movie.id})}" th:text="${movie.title}"></a></td>
					<td th:text="${movie.description}" id="th"></td>
					<td th:text="${movie.length}" id="th"></td>
					<td th:text="${movie.balas}" id="th"></td>
					<td th:text="${movie.kalba}" id="th"></td>
					<td th:text="${movie.rezisierius}" id="th"></td>
					<td sec:authorize="isAuthenticated()" id="th" style="text-align:center"><a th:href="@{/edit/movie/{id}(id=${movie.id})}" id="button" class="btn btn-primary" th:text="#{update}"></a> 
														   									<a th:href="@{/delete/movie/{id}(id=${movie.id})}" id="button" class="btn btn-danger" th:text="#{delete}"></a>
					</td>
				
				</tr>
			</tbody>
		</table>
	</div>
	
<br>
<br>	

<footer>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
      	<div class="p-2">
      		<img width="55px" th:src="@{/images/movie_logo.png}">
      	</div>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item"><p class="nav-link" th:text="#{all_rights}"></p></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/contacts}" th:text="#{contact_us}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/tos}" th:text="#{tos}"></a></li>
				<li class="nav-link">
					<select id="locales" >
					    <option value="" th:text="#{language}"></option>
					    <option value="en" th:text="#{lang.eng}"></option>
					    <option value="lt" th:text="#{lang.lt}"></option>
					</select>
				</li>			
			</ul>
		</div>
	</nav>
</footer>

</body>
</html>